@page
@using MyFirstBlazorWebApp.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to my very first WebApp using ASP.NET Core 3.0!</h1>
    <p>The time on the server is @DateTime.Now</p>
</div>


@* Commented out in ASP.NET Core 101 [10 of 13] (https://youtu.be/R23v4lgHYQI?t=230)*@
@* Added in ASP.NET Core 101 [6 of 13] (https://youtu.be/9lJF47kFRcU?t=71) *@
@*<div class="card-columns">*@
    <!--Added in ASP.NET Core 101 [5 of 13] (https://youtu.be/aP02__gMLtw?t=553)-->
@*    @foreach (var product in Model.Products)*@
@*    {*@
@*        <div class="card">*@
@* Added in ASP.NET Core 101 [6 of 13] (https://youtu.be/9lJF47kFRcU?t=120) *@
@*            <div class="card-img" style="background-image: url('@product.Image');"></div>*@
@*            <div class="card-body">*@
@*                <h5 class="card-title">@product.Title</h5>*@
@*            </div>*@
@*        </div>*@
@*    }*@
@*</div>*@

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
